#### Numpy operations are a lot faster than lists in python, as their optimizations are written in C language (Through Vectorization via Broadcasting - Avoiding loops)

#### Machines understand ones and zeros which are more easily represented and worked with , in Numpy.

#### Numpy is the backbone many other python packages, like Pandas

In [1]:
import numpy as np

## DataTypes & Attributes

In [2]:
# Numpy's main datatype is ndarray. Almost everything in Numpy is an ndarray.
a1 = np.array([1, 2, 3])
a1

array([1, 2, 3])

In [3]:
type(a1)

numpy.ndarray

In [4]:
a2 = np.array([[1.5, 4.5, 7.5],
              [1, 3, 6]])
a3 = np.array([[[1, 2, 3], 
                [4, 5, 6], 
                [7, 8, 9]],
              [[10, 11, 12], 
               [13, 14, 15],
               [16, 17, 18]]])

In [6]:
a2

array([[1.5, 4.5, 7.5],
       [1. , 3. , 6. ]])

In [7]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [9]:
a1.shape, a2.shape, a3.shape

((3,), (2, 3), (2, 3, 3))

In [11]:
a1.dtype, a2.dtype, a3.dtype

(dtype('int32'), dtype('float64'), dtype('int32'))

In [14]:
a1.ndim, a2.ndim, a3.ndim # Dimensions of an array

(1, 2, 3)

In [17]:
print(a1, '\n\n', a2, '\n\n', a3)

[1 2 3]

 [[1.5 4.5 7.5]
 [1.  3.  6. ]]

 [[[ 1  2  3]
  [ 4  5  6]
  [ 7  8  9]]

 [[10 11 12]
  [13 14 15]
  [16 17 18]]]

In [18]:
a1.size, a2.size, a3.size # gives number of elements in an array

(3, 6, 18)

In [19]:
type(a1), type(a2), type(a3)

(numpy.ndarray, numpy.ndarray, numpy.ndarray)

In [22]:
# Create a DataFrame from a Numpy array
import pandas as pd
print(a2)
print()
print()
df = pd.DataFrame(a2)
df

[[1.5 4.5 7.5]
 [1.  3.  6. ]]

     0    1    2
0  1.5  4.5  7.5
1  1.0  3.0  6.0

## Creating numpy arrays

In [23]:
sample_array = np.array([1, 2, 3])
sample_array

array([1, 2, 3])

In [24]:
sample_array.dtype

dtype('int32')

In [26]:
ones = np.ones((2, 3))# press shift + tab while cursor is in brackets call of function
ones

array([[1., 1., 1.],
       [1., 1., 1.]])

In [27]:
ones.dtype

dtype('float64')

In [28]:
type(ones)

numpy.ndarray

In [29]:
zeros = np.zeros((2, 3))
zeros

array([[0., 0., 0.],
       [0., 0., 0.]])

In [30]:
range_array = np.arange(0, 10, 2)
range_array

array([0, 2, 4, 6, 8])

In [45]:
random_array = np.random.randint(0, 10, size=(3, 5))
random_array

array([[9, 9, 2, 2, 3],
       [9, 5, 0, 8, 3],
       [7, 0, 0, 8, 3]])

In [46]:
random_array.size, random_array.shape

(15, (3, 5))

In [47]:
random_array_2 = np.random.random((5, 3))
random_array_2

array([[0.93573314, 0.77942549, 0.66732502],
       [0.71456737, 0.42471539, 0.84632247],
       [0.06280442, 0.04342134, 0.60673275],
       [0.24697865, 0.43887823, 0.52501236],
       [0.58480108, 0.04383657, 0.09423362]])

In [48]:
random_array_2.shape

(5, 3)

In [49]:
random_array_3 = np.random.rand(5, 3)
random_array_3

array([[0.91292238, 0.38952842, 0.97225643],
       [0.90535506, 0.0849249 , 0.29583457],
       [0.88511365, 0.02155003, 0.65392475],
       [0.94638107, 0.82230204, 0.19964049],
       [0.63553571, 0.43213421, 0.74339111]])

In [50]:
random_array_3.shape

(5, 3)

In [53]:
# Random Numbers are actually Pseudo_Random, it depends on the seed selected
np.random.seed(7)
random_array_seed_7 = np.random.rand(3,5)
random_array_seed_7

array([[0.07630829, 0.77991879, 0.43840923, 0.72346518, 0.97798951],
       [0.53849587, 0.50112046, 0.07205113, 0.26843898, 0.4998825 ],
       [0.67923   , 0.80373904, 0.38094113, 0.06593635, 0.2881456 ]])

In [57]:
np.random.seed(10)
random_array_seed_10 = np.random.randint(0, 10, size=(3,5))
random_array_seed_10

array([[9, 4, 0, 1, 9],
       [0, 1, 8, 9, 0],
       [8, 6, 4, 3, 0]])

In [61]:
# In case of random without seed, what is happening is that seed is randomly selected.
np.random.seed()
random_array_random_seed = np.random.random(size=(2,2))
random_array_random_seed

array([[0.47647895, 0.45710383],
       [0.60907133, 0.43304018]])

### In the above examples, you can check whether the output changes when running the cells again and again depending on seed value

In [66]:
random_array

array([[9, 9, 2, 2, 3],
       [9, 5, 0, 8, 3],
       [7, 0, 0, 8, 3]])

In [68]:
# Check unique elements
np.unique(random_array)

array([0, 2, 3, 5, 7, 8, 9])

## Viewing Arrays and Matrices

In [73]:
print('a1:\n',a1, '\n\na2:\n',a2, '\n\na3:\n', a3)

a1:
 [1 2 3]

a2:
 [[1.5 4.5 7.5]
 [1.  3.  6. ]]

a3:
 [[[ 1  2  3]
  [ 4  5  6]
  [ 7  8  9]]

 [[10 11 12]
  [13 14 15]
  [16 17 18]]]

In [76]:
print('a1[0]:\n',a1[0], '\n\na2[0]:\n',a2[0], '\n\na3[0]:\n', a3[0])

a1[0]:
 1

a2[0]:
 [1.5 4.5 7.5]

a3[0]:
 [[1 2 3]
 [4 5 6]
 [7 8 9]]

In [77]:
a1.shape, a2.shape, a3.shape
# a1[0] gives 1 element
# a2[0] gives 1st of the 2 lists of 3 elements -- a2 is 2 lists of 3 elements -- 2,3
# a3[0] gives 1st of the 2 (3x3) Matrices -- a3 is 2 matrices of 3x3 -- 2,3,3

((3,), (2, 3), (2, 3, 3))

### So we can say that first element of shape is the highest dimension and last element is the lowest dimension

In [84]:
# we can also use slicing on ndarrays
# slicing works according to the above heading
print(a3, '\n\n')
a3[:1, :, :2]

[[[ 1  2  3]
  [ 4  5  6]
  [ 7  8  9]]

 [[10 11 12]
  [13 14 15]
  [16 17 18]]]

array([[[1, 2],
        [4, 5],
        [7, 8]]])

In [85]:
random_arr = np.random.randint(10, size=(2,3,4,5))
random_arr

array([[[[5, 7, 7, 6, 5],
         [2, 4, 2, 8, 5],
         [1, 2, 2, 1, 7],
         [4, 6, 4, 3, 3]],

        [[7, 8, 4, 4, 2],
         [5, 3, 2, 7, 8],
         [7, 3, 3, 6, 6],
         [9, 0, 7, 2, 7]],

        [[6, 9, 2, 7, 5],
         [4, 7, 6, 4, 5],
         [0, 5, 5, 5, 9],
         [2, 2, 1, 9, 8]]],


       [[[6, 9, 4, 1, 2],
         [3, 7, 5, 5, 6],
         [3, 7, 0, 5, 9],
         [8, 2, 1, 0, 7]],

        [[8, 4, 8, 3, 4],
         [4, 5, 6, 5, 0],
         [8, 6, 7, 8, 7],
         [3, 4, 9, 7, 6]],

        [[8, 9, 7, 6, 5],
         [4, 2, 9, 9, 8],
         [4, 7, 5, 2, 4],
         [4, 5, 0, 1, 6]]]])

In [86]:
random_arr[:, :, :, :1]

array([[[[5],
         [2],
         [1],
         [4]],

        [[7],
         [5],
         [7],
         [9]],

        [[6],
         [4],
         [0],
         [2]]],


       [[[6],
         [3],
         [3],
         [8]],

        [[8],
         [4],
         [8],
         [3]],

        [[8],
         [4],
         [4],
         [4]]]])

In [88]:
random_arr[:1, :1, :1, :1]

array([[[[5]]]])

In [91]:
random_arr[:1] == random_arr[0]

array([[[[ True,  True,  True,  True,  True],
         [ True,  True,  True,  True,  True],
         [ True,  True,  True,  True,  True],
         [ True,  True,  True,  True,  True]],

        [[ True,  True,  True,  True,  True],
         [ True,  True,  True,  True,  True],
         [ True,  True,  True,  True,  True],
         [ True,  True,  True,  True,  True]],

        [[ True,  True,  True,  True,  True],
         [ True,  True,  True,  True,  True],
         [ True,  True,  True,  True,  True],
         [ True,  True,  True,  True,  True]]]])

## Manipulating & Comparing Arrays

### Arithematic

In [92]:
a1

array([1, 2, 3])

In [94]:
ones = np.ones(3)
ones

array([1., 1., 1.])

In [95]:
a1 + ones

array([2., 3., 4.])

In [96]:
a1 - ones

array([0., 1., 2.])

In [97]:
a1 * ones

array([1., 2., 3.])

In [99]:
a1

array([1, 2, 3])

In [98]:
a2

array([[1.5, 4.5, 7.5],
       [1. , 3. , 6. ]])

In [100]:
a1 * a2

array([[ 1.5,  9. , 22.5],
       [ 1. ,  6. , 18. ]])

In [101]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [102]:
a2 * a3

ValueError: operands could not be broadcast together with shapes (2,3) (2,3,3)

In [103]:
a1 / ones

array([1., 2., 3.])

In [104]:
a2 // a1

array([[1., 2., 2.],
       [1., 1., 2.]])

In [105]:
a2 / a1

array([[1.5 , 2.25, 2.5 ],
       [1.  , 1.5 , 2.  ]])

In [106]:
a2 ** 2

array([[ 2.25, 20.25, 56.25],
       [ 1.  ,  9.  , 36.  ]])

In [107]:
a2

array([[1.5, 4.5, 7.5],
       [1. , 3. , 6. ]])

In [108]:
np.square(a1)
np.add(a1, ones)
a1 % 2
np.mod(a1, 2)

array([1, 0, 1], dtype=int32)

In [109]:
a1

array([1, 2, 3])

In [110]:
np.exp(a1)

array([ 2.71828183,  7.3890561 , 20.08553692])

In [111]:
np.log(a1)

array([0.        , 0.69314718, 1.09861229])

#### Aggregation`
Aggregation = performing same operation on a number of things

In [113]:
a1

array([1, 2, 3])

In [114]:
sum(a1)

6

In [115]:
np.sum(a1)

6

Use Python's methos on Python's datatypes and Numpy's methods on Numpy's DataFrame

In [117]:
massive_array = np.random.random(100000)
massive_array.size

100000

In [119]:
massive_array[:10]

array([0.54546031, 0.94828778, 0.66485564, 0.01562855, 0.28167567,
       0.31081066, 0.02578022, 0.94456255, 0.05889192, 0.90244326])

In [120]:
%timeit sum(massive_array) #Python's Sum
%timeit np.sum(massive_array)

9.94 ms ± 225 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
37.8 µs ± 800 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

9.94 milliseconds = 9940 microseconds

In [121]:
9940/37

268.64864864864865

So numpy.sum() is 270 times more faster than python sum()

In [122]:
a2

array([[1.5, 4.5, 7.5],
       [1. , 3. , 6. ]])

In [123]:
np.mean(a2)

3.9166666666666665

In [124]:
np.min(a2)

1.0

In [125]:
np.max(a2)

7.5

In [128]:
# Standard Deviation = a measure of how spread out a group of numbers is from their mean
np.std(a2)

2.33482095435365

In [127]:
# Variance = measure of the average degree to which each number is different from the mean
# Higher Variance = wider range of number
# Lower variance = lower range of number
np.var(a2)

5.451388888888888

In [129]:
# Standard Deviation = squareroot of Variance
np.sqrt(np.var(a2))

2.33482095435365

#### Demo of standard deviation and Variance in seperate notebook

## Reshape and Transpose

In [130]:
# Why change shape?
a2

array([[1.5, 4.5, 7.5],
       [1. , 3. , 6. ]])

In [131]:
a2.shape

(2, 3)

In [132]:
a2 * a3

ValueError: operands could not be broadcast together with shapes (2,3) (2,3,3)

In [134]:
a3, a2

(array([[[ 1,  2,  3],
         [ 4,  5,  6],
         [ 7,  8,  9]],

        [[10, 11, 12],
         [13, 14, 15],
         [16, 17, 18]]]),
 array([[1.5, 4.5, 7.5],
        [1. , 3. , 6. ]]))

In [141]:
a2_reshaped = a2.reshape(2,3,1)

In [142]:
# Element Wise Product (Hadmard Product)
a2_reshaped * a3

array([[[  1.5,   3. ,   4.5],
        [ 18. ,  22.5,  27. ],
        [ 52.5,  60. ,  67.5]],

       [[ 10. ,  11. ,  12. ],
        [ 39. ,  42. ,  45. ],
        [ 96. , 102. , 108. ]]])

In [143]:
# Dot Product
mat1 = np.random.randint(10, size=(5,2))
mat2 = np.random.randint(10, size=(5,2))
mat1, mat2

(array([[1, 0],
        [1, 0],
        [3, 6],
        [2, 9],
        [1, 6]]),
 array([[7, 1],
        [7, 3],
        [7, 1],
        [5, 8],
        [5, 7]]))

In [145]:
# Dot Product
np.dot(mat1, mat2)

ValueError: shapes (5,2) and (5,2) not aligned: 2 (dim 1) != 5 (dim 0)

the columns of 1st mat must match rows of 2nd mat

In [146]:
# take transpose
mat2.T

array([[7, 7, 7, 5, 5],
       [1, 3, 1, 8, 7]])

In [147]:
mat1.shape, mat2.T.shape

((5, 2), (2, 5))

In [148]:
np.dot(mat1, mat2.T)

array([[ 7,  7,  7,  5,  5],
       [ 7,  7,  7,  5,  5],
       [27, 39, 27, 63, 57],
       [23, 41, 23, 82, 73],
       [13, 25, 13, 53, 47]])

In [150]:
mat1, mat2

(array([[1, 0],
        [1, 0],
        [3, 6],
        [2, 9],
        [1, 6]]),
 array([[7, 1],
        [7, 3],
        [7, 1],
        [5, 8],
        [5, 7]]))

In [152]:
np.dot(mat2, mat1)

ValueError: shapes (5,2) and (5,2) not aligned: 2 (dim 1) != 5 (dim 0)

In [153]:
np.dot(mat2.T, mat1)

array([[ 50, 117],
       [ 30, 120]])

### the dot products are not same when order of dot multiplication is different

## Dot Product Example (Butter sales)

In [154]:
np.random.seed(0)
#Number of Jars sold
sales_amounts = np.random.randint(20, size=(5,3))
sales_amounts

array([[12, 15,  0],
       [ 3,  3,  7],
       [ 9, 19, 18],
       [ 4,  6, 12],
       [ 1,  6,  7]])

In [156]:
# Create weekly_sales DataFrame
weekly_sales = pd.DataFrame(sales_amounts, 
                            index= ["Mons", "Tues", "Weds", "Thurs", "Fri"],
                            columns= ["Almond Butter", "Cashew Butter", "Peanut Butter"])

In [157]:
weekly_sales

       Almond Butter  Cashew Butter  Peanut Butter
Mons              12             15              0
Tues               3              3              7
Weds               9             19             18
Thurs              4              6             12
Fri                1              6              7

In [158]:
# Create Prices array
prices = np.array([10, 12, 8])
prices

array([10, 12,  8])

In [160]:
# Create butter_prices DF
butter_prices = pd.DataFrame(prices,
                             index=["Price"],
                             columns=["Almond Butter", "Cashew Butter", "Peanut Butter"])

ValueError: Shape of passed values is (3, 1), indices imply (1, 3)

In [161]:
prices.shape

(3,)

the prices above represents 3 rows

In [165]:
prices = prices.reshape((1,3))
# what pandas expects:
# Create butter_prices DF
butter_prices = pd.DataFrame(prices, # convert into expected 1 row and 3 columns
                             index=["Price"],# 1 Row
                             columns=["Almond Butter", "Cashew Butter", "Peanut Butter"]) # 3 Columns

In [166]:
butter_prices

       Almond Butter  Cashew Butter  Peanut Butter
Price             10             12              8

In [168]:
weekly_sales

       Almond Butter  Cashew Butter  Peanut Butter
Mons              12             15              0
Tues               3              3              7
Weds               9             19             18
Thurs              4              6             12
Fri                1              6              7

In [170]:
total_sales = prices.dot(sales_amounts.T)

In [171]:
total_sales

array([[300, 122, 462, 208, 138]])

In [173]:
weekly_sales

       Almond Butter  Cashew Butter  Peanut Butter
Mons              12             15              0
Tues               3              3              7
Weds               9             19             18
Thurs              4              6             12
Fri                1              6              7

In [174]:
butter_prices

       Almond Butter  Cashew Butter  Peanut Butter
Price             10             12              8

In [175]:
weekly_sales.shape, butter_prices.shape

((5, 3), (1, 3))

In [177]:
weekly_sales["Total ($)"] = weekly_sales.dot(butter_prices.T)

In [178]:
weekly_sales

       Almond Butter  Cashew Butter  Peanut Butter  Total ($)
Mons              12             15              0        300
Tues               3              3              7        122
Weds               9             19             18        462
Thurs              4              6             12        208
Fri                1              6              7        138

### If we took dot product like butter_prices.dot(weekly_sales.T) as the 'Total ($)' column, then we will get shape error when adding column to weekly sales DataFrame

## Comparison Operators

In [179]:
a1

array([1, 2, 3])

In [180]:
a2

array([[1.5, 4.5, 7.5],
       [1. , 3. , 6. ]])

In [181]:
a1 > a2

array([[False, False, False],
       [False, False, False]])

In [184]:
bool_arr = a1 >= a2
bool_arr

array([[False, False, False],
       [ True, False, False]])

In [185]:
type(bool_arr), bool_arr.dtype

(numpy.ndarray, dtype('bool'))

In [186]:
a1 < 5

array([ True,  True,  True])

In [187]:
a1 == a1

array([ True,  True,  True])

In [188]:
a1, a2

(array([1, 2, 3]),
 array([[1.5, 4.5, 7.5],
        [1. , 3. , 6. ]]))

In [190]:
a1 == a2

array([[False, False, False],
       [ True, False, False]])

## Sorting Arrays

In [194]:
random_array

array([[9, 9, 2, 2, 3],
       [9, 5, 0, 8, 3],
       [7, 0, 0, 8, 3]])

In [195]:
np.sort(random_array)

array([[2, 2, 3, 9, 9],
       [0, 3, 5, 8, 9],
       [0, 0, 3, 7, 8]])

In [197]:
random_array

array([[9, 9, 2, 2, 3],
       [9, 5, 0, 8, 3],
       [7, 0, 0, 8, 3]])

In [198]:
np.argsort(random_array)

array([[2, 3, 4, 0, 1],
       [2, 4, 1, 3, 0],
       [1, 2, 4, 0, 3]], dtype=int64)

Smallest element at 2 index, then next smallest element element at 3 >> 4 >> 0 >> 1

In [199]:
np.argmin(a2)

3

In [200]:
np.argmax(a2)

2

In [201]:
 random_array

array([[9, 9, 2, 2, 3],
       [9, 5, 0, 8, 3],
       [7, 0, 0, 8, 3]])

In [202]:
np.argmax(random_array)

0

In [203]:
np.argmax(random_array, axis=0)

array([0, 0, 0, 1, 0], dtype=int64)

In [204]:
np.argmax(random_array, axis=1)

array([0, 0, 3], dtype=int64)